{{- partial "footer_custom.html" . }}

{{ if eq .Type "page" }}
  {{ partial "page_meta.html" . }}
{{ end }}

<footer>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-10 justify-content-center">
        {{ if not .Params.hideSocial }}
        <ul class="list-group text-center footer-links list-no-style list-group-horizontal justify-content-center gap-3">
          {{ range .Site.Data.social.social_icons }}
            {{- if isset $.Site.Author .id }}
              <li>
                <a class="small" href="{{ printf .url (index $.Site.Author .id) | safeURL }}" title="{{ .title }}">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
                  </span>
                  {{ printf .text (index $.Site.Author .id) | safeURL }}
                </a>
              </li>
            {{- end -}}
          {{ end }}
          {{ if .Site.Params.rss }}
          <li>
            <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
              </span>
              RSS
            </a>
          </li>
          {{ end }}
        </ul>
        {{ end }}
        <p class="pt-3 credits copyright text-muted">
          {{ if .Site.Author.name }}
            {{ if .Site.Author.website }}
              <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
            {{ else }}
              {{ .Site.Author.name }}
            {{ end }}
          {{ end }}
          &nbsp;&bull;&nbsp;&copy;
          {{ if .Site.Params.since }}
            {{ .Site.Params.since }} - {{ .Site.Lastmod.Format "2006" }}
          {{ else }}
            {{ .Site.Lastmod.Format "2006" }}
          {{ end }}
        </p>
      </div>
    </div>
  </div>
</footer>


<script src="{{ "js/jquery.min.js" | absURL }}"></script>
<script src="{{ "js/bootstrap.min.js" | absURL }}"></script>
<script src="{{ "js/main.js" | absURL }}"></script>
